@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url(../css/fonts.css);
@import url(./responsive.css);

* {
    box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}
.container {
    max-width: 1112px;
    margin: 0 auto;
}
.row {
    display: flex;
}
a {
    text-decoration: none;
}
/*============================
   header
==============================*/
.main-header .row {
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}
.main-header {
    width: 100%;
}
.nav-main-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    margin: 0 10px;
}
/*==========================
   intro
============================*/
.intro {
    max-width: 100%;
}
.intro-content {
    background-image: url(../img/Oval.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-title {
    width: 50%;
    padding: 33px 40px;
}
.intro-img {
    width: 39%;
    position: absolute;
    left: 60%;
    top: 15%;  
}
.intro-img img {
    border-radius: 37px;
}
.intro-img-mobile{
    display: none;
}
.desingo-text-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}
.desingo-text-paragraf {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.btn {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 17px 35px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: #FFAD9B;
    color: #fff;
}
/*=========================
services
===========================*/
.services {
    margin-top: 150px;
    max-width: 100%;
}
.services .row{
    align-items: center;
}
.services-content {
    width: 100%;
}
.app-content{
    width: 97%;
    position: relative;
    display: inline-block;
    transition: 0.5s ease-in-out;
}
.app-content::before{
    content:'';
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(231, 129, 107, 0.8) ;
    height:318px;
}
.app-content:hover::before{
    display: block;
}
.web-content {
    position: relative;
    display: inline-block;
    transition: 0.5s ease-in-out;
   
}
.web-content::before{
    content:'';
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(231, 129, 107, 0.8) ;
    height:641px;
}
.web-content:hover::before{
    display: block;
}
.app-foto {
    width: 99%;
}
.app-foto:hover{
    cursor: pointer;
    position: relative; 
    opacity: 0.5;
}
.helper-web-desinger-text {
    position: absolute;
    top: 42%;
    left: 22%;
}
.helper-for-des-text {
    position: absolute;
    top: 12%;
    left: 15%;
}
.desinger-text {
    position: absolute;
    top: 12%;
    left: 22%;
}
.desinger-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
}
.desinger-paragraf {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
/*================================
    features
==================================*/
.features {
    width: 100%;
}
.features-content {
    width: 100%;
}
.features-col3 {
    width: 33%;
}
.features-text {
    width: 85%;
    text-align: center;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
}
.features-paragrah {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333136;
}
/*==================================
   get in touch
====================================*/
.get-in {
    width: 85%;
    position: absolute;
    top: -232px;
    left: 100px;
}
.get-in-content {
    background-image: url(../img/Group\ 28.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    padding: 50px 0;
}

.get-in-content .row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.get-in-text {
    width: 60%;
}

.get-in-title {
    width: 42%;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.get-paragrah {
    width: 67%;
    text-align: left;
    color: #fff;
}
/*=========================
    footer
===========================*/
.footer {
    width: 100%;
}

.footer {
    background-color: #1D1C1E;
    padding: 100px 0px 0px 0px;
}
.footer-content{
    border-bottom: 2px solid grey;
    padding:0 0 30px 0;
}
.footer .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.foot-link {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s ease-in-out;
}
.desingo-contacts{
    padding: 20px 0;
}
.desingo-adress {
    width: 18%;
    color: #fff;
}

.footer-icons {
    margin-bottom: -48px;
}

.desingo-span {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: gray;
}

.big-footer {
    position: relative;
    margin-top: 267px;
}

/*==================================================================
        ABOUT US
====================================================================*/
/*==============================
   about
===============================*/
.about-text {
    width: 60%;
    background-image: url(../img/Ovalabout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px 50px;
}

.about-img img {
    width: 100%;
    height: 100%;
}

/*========================

=========================*/
.world-class {
    margin-top: 50px;
}

.world-class-img {
    width: 39%;
}

.world-class-text {
    width: 60%;
    background-image: url(../img/Group\ 6.jpg);
    background-position: center;
    background-size: cover;
    padding: 52px 55px;
}

.world-class-img img {
    width: 100%;
    height: 100%;
}

.world-title {
    color: #E7816B;
    text-align: left;
}

.world-text {
    width: 72%;
}
.helper-aboutp{
    text-align: left;
}
/*========================
   countries
=========================*/
.countries .row {
    justify-content: space-between;
}

.country-btn {
    background: #E7816B;
    border-radius: 8px;
    border: none;
    padding: 20px;
    color: #FFFFFF;
    margin: 0 25px;
    margin-bottom: 150px;

}
.country-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}

/*========================

========================*/
.countries {
    margin-top: 50px;
}

.deal {
    margin-top: 70px;
}

.column-deal {
    width: 58%;
}

.deal-text {
    width: 100%;
}

.deal-column-img {
    width: 39%;
}

.deal-column-img img {
    width: 100%;
    height: 89%;
}

.location-colummn {
    display: flex;
    flex-direction: row;
}
.card1 {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 0 20px;
    width: 70%;
    background-image: url(../img/Group\ 6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1-text1{
   width: 84%;
}
.card1-title{
    margin-left: 54px;
}
.location-img {
    width: 40%;
}
.location-text-bold{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #333136;
}
.location-content {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
.card2 {
    width: 70%;
    background-image: url(../img/Group\ 6.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0 20px;
}
.card2-title{
    margin-left: 80px;
}
.location-column-Au{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}
.location-colummn-UK {
    display: flex;
    flex-direction: row;
    margin-top: 60px ;
}
.card3{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card3-text1{
    width: 70%;
    background-image: url(../img/Group\ 6.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0 25px;
}
.content1 {
    list-style-type: none;
    padding: 0;
}
.contact-connet {
    background-image: url(../img/Oval.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.contact-text {
    width: 45%;
    padding: 70px 50px;
}
.contact-form {
    width: 50%;
    border: none;
    margin: 81px auto;
    padding: 10px 55px;
}
.input {
    width: 100%;
    padding: 22px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 2px solid #fff;
}

.input:hover{
    color:#FFFFFF;
    cursor: pointer; 
}
.contact-connet .row {
    justify-content: space-between;
}
.textarea {
    width: 450px;
    height: 103px;
}
.form-btn {
    margin: 12px 4px 0 354px;
}